body {
  font-family: 'Droid Serif', serif;
  margin-left: 100px;
  color: #2f2f2f;
  /* justify-content: center; */
  margin: auto;
  margin-left: 200px;
}

.whole {
  max-width: 75%;
}

.page_title {
  text-align: center;
}

.subhead {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #2f2f2f;
  border-top: 2px solid #2f2f2f;
  padding: 12px 0 12px 0;
}

.page_title h1 {
  font-family: 'Playfair Display';
  font-size: 50pt;
  margin-bottom: 20px;
  /* text-decoration: underline; */
  /* text-shadow: .001px 0 grey; */
}

main {
  justify-content: center;
  margin: auto;
  padding-left: 68px;
  padding-right: 68px;
}

.filter_list {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  justify-content: center;

  /* inline-size: 150px; */
}

.filter_list_heading {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18pt;
  text-align: center;
  margin-bottom: 5px;
}

.list_item {
  margin-right: 20px;
  display: inline-block;
  font-size: 15pt;

}

.list_item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.update_button_container {
  position: relative;
  margin-bottom: 75px;
}

.update_button_inner_container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.article_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.article_row {
  display: flex;
  flex-direction: row;
}

.article_thumbnail {
  object-fit: cover;
  height: 200px;
  width: 200px;
}

.article_thumbnail:hover {
  cursor: pointer;
}

.article_title {
  font-size: 18pt;
  font-weight: 800;
}

.article_title:hover {
  cursor: pointer;
}

.article_publisher:hover {
  cursor: pointer;
}

.or {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.signup {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}